<h1>Listings#new</h1>
<p>Find me in app/views/listings/new.html.erb</p>

<div class="rendered-form">
    <div class="formbuilder-text form-group field-text-1669127534082">
        <label for="text-1669127534082" class="formbuilder-text-label">Name</label>
        <input type="text" placeholder="Rex" class="form-control" name="text-1669127534082" access="false" id="text-1669127534082">
    </div>
    <div class="formbuilder-text form-group field-text-1669127577647">
        <label for="text-1669127577647" class="formbuilder-text-label">Breed</label>
        <input type="text" placeholder="French Bulldog" class="form-control" name="text-1669127577647" access="false" id="text-1669127577647">
    </div>
    <div class="formbuilder-textarea form-group field-textarea-1669127610158">
        <label for="textarea-1669127610158" class="formbuilder-textarea-label">Description</label>
        <textarea type="textarea" placeholder="Dog behaviour, likes, dislikes..." class="form-control" name="textarea-1669127610158" access="false" id="textarea-1669127610158"></textarea>
    </div>
    <div class="formbuilder-number form-group field-number-1669127661845">
        <label for="number-1669127661845" class="formbuilder-number-label">Price</label>
        <input type="number" placeholder="0" class="form-control" name="number-1669127661845" access="false" id="number-1669127661845">
    </div>
    <div class="formbuilder-button form-group field-button-1669127724079">
        <button type="button" class="btn-default btn" name="button-1669127724079" access="false" style="default" id="button-1669127724079">Submit</button>
    </div>
</div>
