h2 {
  font-family: Bogart-Semibold,Georgia,serif !important;
  font-weight: normal !important;
  font-size: 24px;
  margin-left: 0px;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 12px;
  text-align: center;
  line-height: 1.25;
}

h3 {
  font-family: Bogart-Semibold,Georgia,serif !important;
  font-weight: normal !important;
  font-size: 24px;
  margin-left: 0px;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 12px;
  text-align: center;
  line-height: 1.25;
}

.about-img {
  width: 382px;
  height: 260px;
  opacity: 1.0;
}

.logo-img {
  width: 400px;
  height: 225px;
}
.info-wrap {
  display: flex;
  justify-content: space-between;
}h2 {
  font-family: Bogart-Semibold,Georgia,serif !important;
  font-weight: normal !important;
  font-size: 24px;
  margin-left: 0px;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 12px;
  text-align: center;
  line-height: 1.25;
}

h3 {
  font-family: Bogart-Semibold,Georgia,serif !important;
  font-weight: normal !important;
  font-size: 24px;
  margin-left: 0px;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 12px;
  text-align: center;
  line-height: 1.25;
}

.about-img {
  width: 382px;
  height: 260px;
  opacity: 1.0;
}

.logo-img {
  width: 400px;
  height: 225px;
}

.info-wrap {
  display: flex;
  justify-content: space-between;
}
