h1 {
  font-family: 'Raleway', sans-serif;
  font-style: ExtraLight 200 Italic;
  font-weight: normal !important;
  font-size: 40px;
  margin-left: 0px;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1.25;
  padding-left: 20px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal !important;
  font-size: 24px;
  margin-left: 0px;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 12px;
  text-align: center;
  line-height: 1.25;
}


h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal !important;
  font-size: 24px;
  margin-left: 0px;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 12px;
  text-align: center;
  line-height: 1.25;
}


.logo-img {
  width: 400px;
  height: 225px;
}


.about-img {
  width: 482px;
  height: 290px;
  opacity: 1.0;
}


.info-wrap {
  display: flex;
  justify-content: space-between;
}

.pics-of-us {
  width: 150px;
  height: 150px;
}

#profiles {
  padding-left: 20px;
  padding-right: 20px;
}
