<head>

  <%# <link href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css"> %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<style>
body {
  background-color: #faeeed;
  font-family: 'Raleway', sans-serif;
  font-style: ExtraLight 200 Italic;
}
</style>
<div class='container vh-100 confirmation-wrapper'>
  <div class='bg-white rounded p-4 confirmation-wrapper'>
    <h1>Booking Confirmed!</h1>
    <%=@rental.start_date.strftime("%d/%m/%Y") %> - <%=@rental.end_date.strftime("%d/%m/%Y")  %> <br>
    <%=@rental.listing.name%>
    <a href="/home" class="btn btn-primary">Back to Home</a>
  </div>
</div>
