<head>

  <%# <link href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css"> %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<style>
body {
  background-color: #faeeed;
}
</style>

<h1>Booking Confirmed!</h1>


<a href="/home" class="btn btn-primary">Back to Home</a>
