<style>
body {
  background-image: url('https://images.pexels.com/photos/933498/pexels-photo-933498.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}
</style>

<div class="homewrap">
  <p class="welcome" id="welcs1">Wanna know who let the dogs out?</p><br>
  <p class="welcome" id="welcs2">Look no further</p>


  <section id="searchy">
    <%= form_with url: listings_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search a dog breed"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </section>

</div>
